@charset "UTF-8";

.bg-dark {
    background-color: #007FFF !important;
}

.carousel-item img {
    width: 100%;
    height: 600px;
}

.c-carousel-caption {
    color: black
}

.text-container {
    max-width: 1000px;
}

.row-container {
    margin-top: 10px;
}

.front-page-text {
    padding: 20px 0;
}

footer {
    background-color: #007FFF;
    height: 60px;
    color: #eee;
    font-size: .8rem;
    text-align: center;
    padding-top: 20px;
}

.control-width {
    max-width: 1200px;
    margin-bottom: 20px;
}

.card-container {
    margin-bottom: 20px;
}

.card-footer-cy {

}

.btn-primary {
    background-color: transparent;
    color: cornflowerblue;
    border-color: lightblue;
}

.accordion-button:not(.collapsed) {
    color: #fff;
    background-color: #007FFF;
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.125);
}

.accordion-container {
    margin-bottom: 15px;
}
